/manejo-entrada-salida/problema01/Problema 1/nbproject/private/
/manejo-entrada-salida/problema01/Problema 1/build/
/manejo-entrada-salida/problema02/Problema2/nbproject/private/
/manejo-entrada-salida/problema02/Problema2/build/
/manejo-entrada-salida/problema03/Porblema3/nbproject/private/
/manejo-entrada-salida/problema03/Porblema3/build/
/manejo-entrada-salida/problema04/Problema4/nbproject/private/
/manejo-entrada-salida/problema04/Problema4/build/
/manejo-entrada-salida/problema05/Problema 5/nbproject/private/
/manejo-entrada-salida/problema05/Problema 5/build/
